body {  
    margin: 0;
    padding: 0;
    background: #414C50;
    background-image: linear-gradient(to bottom left, #414C50, #94ADB6);
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar{
    display: flex;
    align-items: center;
    padding: 0px;
    gap: 40px;
    border-radius: 100vmax;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.7px);
    -webkit-backdrop-filter: blur(3.7px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin: 20px auto;
    max-width: 90%;
    background: rgba(255, 255, 255, 0.041);
    height: 55px;
    min-height: 50px;
    overflow: hidden;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    font-weight: bold;
    font-size: 18px;
    background-color: #2d2d2d;
    border-radius: 100vmax;
    padding: 0 20px 0 5px;
    margin: 0;
    width: 120px;              /* Ancho fijo */
    height: 52px;
    min-width: 140px;
    padding: 0 20px 0 25px;

}

.logo-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 28px;
    width: 100%;              /* Ocupa todo el ancho disponible */
    height: 180%;    
}

.logo-icon img {
    height: 90px; 
    align-items: center;         
    width: auto;           
    display: block;
    object-fit: contain;
    margin: auto;

}

.nav-links {
    display: flex;
    gap: 40px;
    list-style: none;
    justify-content: center;
    flex: 1;
    gap: 30%;
}

.nav-links a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    opacity: 0.9;
    transition: opacity 0.3s;
    font-family: "Kumbh Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.nav-links a:hover{
    opacity: 1;
}
footer{
    width: 100%;
    padding: 50px 0px;
    background-size: cover;
    background-image: linear-gradient(to top, #C0CDCD, #ffffff00);
    position: absolute;
    bottom: 0;
}

a{text-decoration: none;}

.container_social{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 500px;
    margin: auto;
    margin-top: 25px;
}

.facebook{  
    width: 45px;
    height: 45px;
    background: rgba(255, 255, 255, 0.041);
    border-radius: 100vmax;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.7px);
    -webkit-backdrop-filter: blur(3.7px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.facebook img{  
    width: 40px;
}

.insta{  
    width: 45px;
    height: 45px;
    background: rgba(255, 255, 255, 0.041);
    border-radius: 100vmax;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.7px);
    -webkit-backdrop-filter: blur(3.7px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.insta img{  
    width: 40px;
}

.tiktok{  
    width: 45px;
    height: 45px;
    background: rgba(255, 255, 255, 0.041);
    border-radius: 100vmax;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.7px);
    -webkit-backdrop-filter: blur(3.7px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.tiktok img{  
    width: 40px;
}

.twitter{  
    width: 45px;
    height: 45px;
    background: rgba(255, 255, 255, 0.041);
    border-radius: 100vmax;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.7px);
    -webkit-backdrop-filter: blur(3.7px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.twitter img{  
    width: 40px;
}

.container_footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1000px;
    margin: auto;
    margin-top: 25px;
}

.box_footer{
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.box_footer h2{
    margin-bottom: 30px;
    color: #2d2d2d;
    text-align: center;
    font-size: 18px;
    font-family: "Kumbh Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    padding: 15px 30px;
    padding: 1.0rem;
    background: rgba(255, 255, 255, 0.041);
    border-radius: 100vmax;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.7px);
    -webkit-backdrop-filter: blur(3.7px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.box_footer a{
    margin-top: 10px;
    color: #2d2d2d;
    font-family: "Kumbh Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    text-align: center;
}



.box_footer a:hover{
    opacity: 0.8;
    transition: all 0.3s ease;
    color: black;
}

.box_footer a .fab{
    font-size: 20px;

}

.box_copyright{
    max-width: 1500px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;

}

.box_copyright p{
    margin-top: 20px;
    color: #2d2d2d;
    font-family: "Kumbh Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;

}

.box_copyright hr{
    border: none;
    height: 1px;
    background-color: #7a7a7a;

}